@layout MainLayout

<div class="d-flex flex-wrap gap-3">
    <p>
        Welcome to your Doctor Dashboard. <br />
        Here, you can easily manage your appointments, view and issue prescriptions, and access your list of assigned patients. <br />
        This centralized space is designed to streamline your daily workflow and enhance patient care efficiency.
    </p>
</div>
