@layout PatientLayout

<h2>Welcome 🙂</h2>
<br />
<div class="row">
    <p>
        Welcome to your Patient Dashboard. <br />
        From here, you can book new appointments, view your upcoming visits, and access your medical records and prescriptions. <br />
        This platform is designed to give you convenient, secure access to your healthcare anytime, anywhere.
    </p>
</div>
