@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@layout PatientLayout
@inject AuthenticationStateProvider AuthProvider

<h2>Welcome, @fullName. 🙂</h2>
<br />
<div class="row">
    <p>
        Welcome to your Patient Dashboard. <br />
        From here, you can book new appointments, view your upcoming visits, and access your medical records and prescriptions. <br />
        This platform is designed to give you convenient, secure access to your healthcare anytime, anywhere.
    </p>
</div>

@code {
    private string fullName = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            fullName = user.FindFirst(c => c.Type == ClaimTypes.Name)?.Value
                    ?? user.FindFirst("name")?.Value
                    ?? "Doctor";
        }
    }
}